body{
    font-family: monospace;
}

form{
    margin-top: 40px;
    padding-bottom: 30px; 
    
    }
.title{
    text-align: center;
}

.container{
    margin-top: 60px;
    max-width: 800px;
    height: 800px;
    font-family: 'Courier New', Courier, monospace;
    background: #e0ffff;
    border: 5px;
    

}
.float-left{
    width: 50px;
}

.image{
    width: 50px;
}
 
.type-city{
    background: #f9f7fe;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 6px;
    color: rgba(39,33,66,.4);
    font-size: 16px;
    height: 50px;
    line-height: 20px;


}
.weather-info{
    margin-top: 20px;
    display: block;

}
.search-button{
    background: #885df1;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 0;
    border: none;
    height: 50px;
}

.col-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
}
.secondColumn{
    margin-top: 0;
    top: -100px;
    color: red;
}

.temperature{
    padding-top: 0px;
    position: relative;
    left: 450px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80px;
    
 
}
.units{
    position: relative;
    left:500px;
    line-height:1;
    top: -38px;
}


.weatherDescription{
    position: relative;
    right: 5px;
    left: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid gray;
    border-radius: 20px;
    border-width: 1px;
    box-sizing: content-box;
    margin-left: 0px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 10px;
   max-width: 400px;
}

.icon-description{
    margin: 0;
    padding: 12px;
}

.weatherForcast {
    margin-top: 80px;
}

 .city{
     text-align: center;
     font-size: 16px;
     margin: 0 auto;
     padding: 0px;
     text-transform: capitalize;

 }

 
.owner{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
.color{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.search-form{
    margin-bottom: 20px;
}
.dateToday{
   
    margin: 0 auto;
    padding-top: 10px;
}


.temperature{
    position: relative;
    right: 1px;
    text-align: center;
    font-size: 30px;
    padding-top: -30px;
   
}
.container{
    
    display: block;
    margin: 0 auto;
    margin-top: 35px;

    border: 1px solid gray;
}
.units{
    position:absolute;
    right: 30px;
    top: -8px;
    font-size: 20px;
    font-weight: 200;
}