body {
  font-family: monospace;
  background: #fff;
  overflow: auto;
}

form {
  margin-top: 40px;
  padding-bottom: 30px;
}

.title {
  text-align: center;
}

.container {
  margin-top: 60px;
  max-width: 800px;
  height: 800px;
  font-family: "Courier New", Courier, monospace;
  background: #ffffff;

  border: 1px solid gray;
}

.float-left {
  width: 50px;
}

.image {
  width: 50px;
}

.type-city {
  background: #f9f7fe;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 100%;
  height: 50px;
  line-height: 20px;
  font-weight: 400;
}

.weather-info {
  margin-top: 20px;
  display: block;
}
.search-button {
  background: #885df1;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.secondColumn {
  margin-top: 0;
  top: -100px;
  color: red;
}

.city {
  text-align: center;
  margin-right: 0px;
}

.weatherDescription {
  position: relative;
  right: 5px;
  left: 190px;
  display: block;
  margin: 10 60px 10px;
  border: 1px solid gray;
  border-radius: 20px;
  border-width: 1px;
  max-width: 350px;
  padding-left: 30px 0px;
}
.temperature-units {
  position: relative;
  left: 400px;
  padding-top: 35px;
  font-weight: 24px;
}

.icon-description {
  margin: 0;
  padding: 12px;
}

.weatherForcast {
  margin-top: 80px;
}

.city {
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
}

.owner {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: blue;
}
.color {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.dateToday {
  margin: 0 auto;
  padding-top: 10px;
}

.temperature {
  position: relative;
  font-size: 30px;
  margin-right: 0;
  font-size: 64px;
}

.units {
  position: relative;
  right: 20px;
  padding-left: 0px;
  margin-left: 5px;
  top: -34px;
  font-size: 22px;
  font-weight: 200;
}

.units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

.forecast-temperature {
  font-size: 13px;
}

.weather-forecast {
  margin-top: 80px;
}
.humid-icon {
  color: #fd7e14;
}
.wind-icon {
  color: #fd7e14;
}
